
.root{
    -fx-background-image: url("redglitter.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
#expHome{
    -fx-background-image: url("RedBlueGlitter.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
